.hg
.*.tmp
*.orig
*~
*.swp
*.o
*.d2
*.opic
*.a
*.so
*.so.[0-9]*
*.bin
*.bak
*.tmp
*.spot
*.spit
*.gcno
*.gcda
*.py[ocd]
TAGS
GTAGS
GRTAGS
GPATH
GSYMS
tags
cscope.files
cscope.in.out
cscope.out
cscope.po.out
.config
.vimrc
*.d
dist
stubdom/*.tar.gz

autom4te.cache/
config.log
config.status
config.cache
config/Toplevel.mk
config/Paths.mk

build-*
dist/*
config/Docs.mk
config/Stubdom.mk
config/Tools.mk
docs/figs/network-basic.png
docs/figs/network-bridge.png
docs/html/
docs/man/xl.cfg.pod.5
docs/man/xl.pod.1
docs/man1/
docs/man5/
docs/man7/
docs/man8/
docs/txt/
extras/
stubdom/cross-root-i686/
stubdom/cross-root-x86_64/
stubdom/gmp-4.3.2.tar.bz2
stubdom/gmp-x86_64/
stubdom/grub-upstream/
stubdom/grub-x86_32-minios-config.mk
stubdom/grub-x86_32/
stubdom/grub-x86_64-minios-config.mk
stubdom/grub-x86_64/
stubdom/include/
stubdom/ioemu-minios-config.mk
stubdom/ioemu/
stubdom/libs-x86_32/
stubdom/libs-x86_64/
stubdom/libxc-x86_32/
stubdom/libxc-x86_64/
stubdom/lwip-x86_32/
stubdom/lwip-x86_64/
stubdom/mini-os-x86_32-grub/
stubdom/mini-os-x86_64-grub/
stubdom/mini-os-x86_64-ioemu/
stubdom/mini-os-x86_64-vtpm/
stubdom/mini-os-x86_64-vtpmmgr/
stubdom/mini-os-x86_64-xenstore/
stubdom/mk-headers-x86_32
stubdom/mk-headers-x86_64
stubdom/newlib-1.16.0/
stubdom/newlib-x86_32/
stubdom/newlib-x86_64/
stubdom/pciutils-2.2.9.tar.bz2
stubdom/pciutils-x86_32/
stubdom/pciutils-x86_64/
stubdom/pkg-config/
stubdom/polarssl-1.1.4-gpl.tgz
stubdom/polarssl-x86_32/
stubdom/polarssl-x86_64/
stubdom/stubdompath.sh
stubdom/tpm_emulator-x86_64/
stubdom/vtpm-minios-config.mk
stubdom/vtpm/vtpm_manager.h
stubdom/vtpmmgr-minios-config.mk
stubdom/xenstore-minios-config.mk
stubdom/xenstore/
stubdom/zlib-x86_32/
stubdom/zlib-x86_64/
tools/config.h
tools/console/client/_paths.h
tools/console/daemon/_paths.h
tools/console/xenconsole
tools/console/xenconsoled
tools/debugger/gdbsx/gdbsx
tools/debugger/kdd/kdd
tools/firmware/etherboot/ipxe.tar.gz
tools/firmware/etherboot/ipxe/
tools/firmware/hvmloader/dsdt_15cpu.asl
tools/firmware/hvmloader/dsdt_15cpu.c
tools/firmware/hvmloader/dsdt_anycpu.asl
tools/firmware/hvmloader/dsdt_anycpu.c
tools/firmware/hvmloader/dsdt_anycpu_qemu_xen.asl
tools/firmware/hvmloader/dsdt_anycpu_qemu_xen.c
tools/firmware/hvmloader/hvmloader
tools/firmware/hvmloader/mk_dsdt
tools/firmware/hvmloader/roms.inc
tools/firmware/hvmloader/ssdt_laptop_slate.h
tools/firmware/hvmloader/ssdt_pm.h
tools/firmware/hvmloader/ssdt_s3.h
tools/firmware/hvmloader/ssdt_s4.h
tools/firmware/hvmloader/ssdt_tpm.h
tools/firmware/rombios/32bit/32bitbios_flat.h
tools/firmware/rombios/BIOS-bochs-latest
tools/firmware/rombios/_rombios_.c
tools/firmware/rombios/biossums
tools/firmware/rombios/rombios.s
tools/firmware/rombios/rombios.sym
tools/firmware/rombios/rombios.txt
tools/firmware/seabios-dir
tools/firmware/seabios-dir-remote/
tools/firmware/vgabios/biossums
tools/firmware/vgabios/vbetables-gen
tools/firmware/vgabios/vbetables.h
tools/firmware/vgabios/vgabios-cirrus.debug.txt
tools/firmware/vgabios/vgabios-cirrus.txt
tools/firmware/vgabios/vgabios.debug.txt
tools/firmware/vgabios/vgabios.txt
tools/firmware/xen-dir/linkfarm.stamp
tools/firmware/xen-dir/shim.config.old
tools/firmware/xen-dir/xen-root/
tools/firmware/xen-dir/xen-shim
tools/firmware/xen-dir/xen-shim-syms
tools/flask/utils/flask-get-bool
tools/flask/utils/flask-getenforce
tools/flask/utils/flask-label-pci
tools/flask/utils/flask-loadpolicy
tools/flask/utils/flask-set-bool
tools/flask/utils/flask-setenforce
tools/fuzz/x86_instruction_emulator/afl-harness
tools/fuzz/x86_instruction_emulator/asm
tools/fuzz/x86_instruction_emulator/x86-emulate.c
tools/fuzz/x86_instruction_emulator/x86-emulate.h
tools/fuzz/x86_instruction_emulator/x86_emulate
tools/helpers/_paths.h
tools/helpers/init-xenstore-domain
tools/helpers/xen-init-dom0
tools/hotplug/Linux/launch-xenstore
tools/hotplug/Linux/systemd/proc-xen.mount
tools/hotplug/Linux/systemd/var-lib-xenstored.mount
tools/hotplug/Linux/systemd/xen-init-dom0.service
tools/hotplug/Linux/systemd/xen-qemu-dom0-disk-backend.service
tools/hotplug/Linux/systemd/xen-watchdog.service
tools/hotplug/Linux/systemd/xen.conf
tools/hotplug/Linux/systemd/xenconsoled.service
tools/hotplug/Linux/systemd/xendomains.service
tools/hotplug/Linux/systemd/xendriverdomain.service
tools/hotplug/Linux/systemd/xenstored.service
tools/hotplug/Linux/vif-setup
tools/hotplug/Linux/xen-hotplug-common.sh
tools/hotplug/Linux/xendomains
tools/hotplug/common/hotplugpath.sh
tools/include/acpi
tools/include/xen-foreign/arm32.h
tools/include/xen-foreign/arm64.h
tools/include/xen-foreign/checker
tools/include/xen-foreign/checker.c
tools/include/xen-foreign/x86_32.h
tools/include/xen-foreign/x86_64.h
tools/include/xen-xsm/
tools/include/xen/
tools/libs/call/headers.chk
tools/libs/call/xencall.pc
tools/libs/devicemodel/headers.chk
tools/libs/devicemodel/xendevicemodel.pc
tools/libs/evtchn/headers.chk
tools/libs/evtchn/xenevtchn.pc
tools/libs/foreignmemory/headers.chk
tools/libs/foreignmemory/xenforeignmemory.pc
tools/libs/gnttab/headers.chk
tools/libs/gnttab/xengnttab.pc
tools/libs/toolcore/headers.chk
tools/libs/toolcore/include/_xentoolcore_list.h
tools/libs/toolcore/xentoolcore.pc
tools/libs/toollog/headers.chk
tools/libs/toollog/xentoollog.pc
tools/libvchan/vchan-node1
tools/libvchan/vchan-node2
tools/libvchan/xenvchan.pc
tools/libxc/_paths.h
tools/libxc/_xc_cpuid_autogen.h
tools/libxc/xencontrol.pc
tools/libxc/xenguest.pc
tools/libxl/_libxl.api-for-check
tools/libxl/_libxl_list.h
tools/libxl/_libxl_save_msgs_callout.c
tools/libxl/_libxl_save_msgs_callout.h
tools/libxl/_libxl_save_msgs_helper.c
tools/libxl/_libxl_save_msgs_helper.h
tools/libxl/_libxl_types.c
tools/libxl/_libxl_types.h
tools/libxl/_libxl_types_internal.c
tools/libxl/_libxl_types_internal.h
tools/libxl/_libxl_types_internal_json.h
tools/libxl/_libxl_types_internal_private.h
tools/libxl/_libxl_types_json.h
tools/libxl/_libxl_types_private.h
tools/libxl/_paths.h
tools/libxl/dsdt_pvh.asl
tools/libxl/dsdt_pvh.c
tools/libxl/libxl-save-helper
tools/libxl/libxl.api-ok
tools/libxl/mk_dsdt
tools/libxl/ssdt_laptop_slate.h
tools/libxl/ssdt_pm.h
tools/libxl/ssdt_s3.h
tools/libxl/ssdt_s4.h
tools/libxl/ssdt_tpm.h
tools/libxl/test_fdderegrace
tools/libxl/test_timedereg
tools/libxl/testidl
tools/libxl/testidl.c
tools/libxl/xenlight.pc
tools/libxl/xlutil.pc
tools/misc/xen-cpuid
tools/misc/xen-detect
tools/misc/xen-diag
tools/misc/xen-hptool
tools/misc/xen-hvmcrash
tools/misc/xen-hvmctx
tools/misc/xen-livepatch
tools/misc/xen-lowmemd
tools/misc/xen-mfndump
tools/misc/xen-tmem-list-parse
tools/misc/xencov
tools/misc/xenlockprof
tools/misc/xenperf
tools/misc/xenpm
tools/misc/xenwatchdogd
tools/ocaml/libs/eventchn/.ocamldep.make
tools/ocaml/libs/eventchn/META
tools/ocaml/libs/eventchn/xeneventchn.annot
tools/ocaml/libs/eventchn/xeneventchn.cma
tools/ocaml/libs/eventchn/xeneventchn.cmi
tools/ocaml/libs/eventchn/xeneventchn.cmo
tools/ocaml/libs/eventchn/xeneventchn.cmx
tools/ocaml/libs/eventchn/xeneventchn.cmxa
tools/ocaml/libs/mmap/.ocamldep.make
tools/ocaml/libs/mmap/META
tools/ocaml/libs/mmap/xenmmap.annot
tools/ocaml/libs/mmap/xenmmap.cma
tools/ocaml/libs/mmap/xenmmap.cmi
tools/ocaml/libs/mmap/xenmmap.cmo
tools/ocaml/libs/mmap/xenmmap.cmx
tools/ocaml/libs/mmap/xenmmap.cmxa
tools/ocaml/libs/xb/.ocamldep.make
tools/ocaml/libs/xb/META
tools/ocaml/libs/xb/op.annot
tools/ocaml/libs/xb/op.cmi
tools/ocaml/libs/xb/op.cmo
tools/ocaml/libs/xb/op.cmx
tools/ocaml/libs/xb/packet.annot
tools/ocaml/libs/xb/packet.cmi
tools/ocaml/libs/xb/packet.cmo
tools/ocaml/libs/xb/packet.cmx
tools/ocaml/libs/xb/partial.annot
tools/ocaml/libs/xb/partial.cmi
tools/ocaml/libs/xb/partial.cmo
tools/ocaml/libs/xb/partial.cmx
tools/ocaml/libs/xb/xb.annot
tools/ocaml/libs/xb/xb.cmi
tools/ocaml/libs/xb/xb.cmo
tools/ocaml/libs/xb/xb.cmx
tools/ocaml/libs/xb/xenbus.cma
tools/ocaml/libs/xb/xenbus.cmi
tools/ocaml/libs/xb/xenbus.cmo
tools/ocaml/libs/xb/xenbus.cmx
tools/ocaml/libs/xb/xenbus.cmxa
tools/ocaml/libs/xb/xs_ring.annot
tools/ocaml/libs/xb/xs_ring.cmi
tools/ocaml/libs/xb/xs_ring.cmo
tools/ocaml/libs/xb/xs_ring.cmx
tools/ocaml/libs/xc/.ocamldep.make
tools/ocaml/libs/xc/META
tools/ocaml/libs/xc/xenctrl.annot
tools/ocaml/libs/xc/xenctrl.cma
tools/ocaml/libs/xc/xenctrl.cmi
tools/ocaml/libs/xc/xenctrl.cmo
tools/ocaml/libs/xc/xenctrl.cmx
tools/ocaml/libs/xc/xenctrl.cmxa
tools/ocaml/libs/xentoollog/.ocamldep.make
tools/ocaml/libs/xentoollog/META
tools/ocaml/libs/xentoollog/_xtl_levels.inc
tools/ocaml/libs/xentoollog/_xtl_levels.ml.in
tools/ocaml/libs/xentoollog/_xtl_levels.mli.in
tools/ocaml/libs/xentoollog/xentoollog.annot
tools/ocaml/libs/xentoollog/xentoollog.cma
tools/ocaml/libs/xentoollog/xentoollog.cmi
tools/ocaml/libs/xentoollog/xentoollog.cmo
tools/ocaml/libs/xentoollog/xentoollog.cmx
tools/ocaml/libs/xentoollog/xentoollog.cmxa
tools/ocaml/libs/xentoollog/xentoollog.ml
tools/ocaml/libs/xl/.ocamldep.make
tools/ocaml/libs/xl/META
tools/ocaml/libs/xl/_libxl_types.inc
tools/ocaml/libs/xl/_libxl_types.ml.in
tools/ocaml/libs/xl/_libxl_types.mli.in
tools/ocaml/libs/xl/xenlight.annot
tools/ocaml/libs/xl/xenlight.cma
tools/ocaml/libs/xl/xenlight.cmi
tools/ocaml/libs/xl/xenlight.cmo
tools/ocaml/libs/xl/xenlight.cmx
tools/ocaml/libs/xl/xenlight.cmxa
tools/ocaml/libs/xl/xenlight.ml
tools/ocaml/libs/xs/.ocamldep.make
tools/ocaml/libs/xs/META
tools/ocaml/libs/xs/paths.annot
tools/ocaml/libs/xs/paths.cmi
tools/ocaml/libs/xs/paths.cmo
tools/ocaml/libs/xs/paths.cmx
tools/ocaml/libs/xs/paths.ml
tools/ocaml/libs/xs/queueop.annot
tools/ocaml/libs/xs/queueop.cmi
tools/ocaml/libs/xs/queueop.cmo
tools/ocaml/libs/xs/queueop.cmx
tools/ocaml/libs/xs/xenstore.cma
tools/ocaml/libs/xs/xenstore.cmi
tools/ocaml/libs/xs/xenstore.cmo
tools/ocaml/libs/xs/xenstore.cmx
tools/ocaml/libs/xs/xenstore.cmxa
tools/ocaml/libs/xs/xs.annot
tools/ocaml/libs/xs/xs.cmi
tools/ocaml/libs/xs/xs.cmo
tools/ocaml/libs/xs/xs.cmx
tools/ocaml/libs/xs/xsraw.annot
tools/ocaml/libs/xs/xsraw.cmi
tools/ocaml/libs/xs/xsraw.cmo
tools/ocaml/libs/xs/xsraw.cmx
tools/ocaml/libs/xs/xst.annot
tools/ocaml/libs/xs/xst.cmi
tools/ocaml/libs/xs/xst.cmo
tools/ocaml/libs/xs/xst.cmx
tools/ocaml/xenstored/_paths.h
tools/ocaml/xenstored/config.annot
tools/ocaml/xenstored/config.cmi
tools/ocaml/xenstored/config.cmx
tools/ocaml/xenstored/connection.annot
tools/ocaml/xenstored/connection.cmi
tools/ocaml/xenstored/connection.cmx
tools/ocaml/xenstored/connections.annot
tools/ocaml/xenstored/connections.cmi
tools/ocaml/xenstored/connections.cmx
tools/ocaml/xenstored/define.annot
tools/ocaml/xenstored/define.cmi
tools/ocaml/xenstored/define.cmx
tools/ocaml/xenstored/disk.annot
tools/ocaml/xenstored/disk.cmi
tools/ocaml/xenstored/disk.cmx
tools/ocaml/xenstored/domain.annot
tools/ocaml/xenstored/domain.cmi
tools/ocaml/xenstored/domain.cmx
tools/ocaml/xenstored/domains.annot
tools/ocaml/xenstored/domains.cmi
tools/ocaml/xenstored/domains.cmx
tools/ocaml/xenstored/event.annot
tools/ocaml/xenstored/event.cmi
tools/ocaml/xenstored/event.cmx
tools/ocaml/xenstored/history.annot
tools/ocaml/xenstored/history.cmi
tools/ocaml/xenstored/history.cmx
tools/ocaml/xenstored/logging.annot
tools/ocaml/xenstored/logging.cmi
tools/ocaml/xenstored/logging.cmx
tools/ocaml/xenstored/oxenstored
tools/ocaml/xenstored/oxenstored.conf
tools/ocaml/xenstored/packet.annot
tools/ocaml/xenstored/packet.cmi
tools/ocaml/xenstored/packet.cmx
tools/ocaml/xenstored/parse_arg.annot
tools/ocaml/xenstored/parse_arg.cmi
tools/ocaml/xenstored/parse_arg.cmx
tools/ocaml/xenstored/paths.annot
tools/ocaml/xenstored/paths.cmi
tools/ocaml/xenstored/paths.cmx
tools/ocaml/xenstored/paths.ml
tools/ocaml/xenstored/perms.annot
tools/ocaml/xenstored/perms.cmi
tools/ocaml/xenstored/perms.cmx
tools/ocaml/xenstored/process.annot
tools/ocaml/xenstored/process.cmi
tools/ocaml/xenstored/process.cmx
tools/ocaml/xenstored/quota.annot
tools/ocaml/xenstored/quota.cmi
tools/ocaml/xenstored/quota.cmx
tools/ocaml/xenstored/select.annot
tools/ocaml/xenstored/select.cma
tools/ocaml/xenstored/select.cmi
tools/ocaml/xenstored/select.cmo
tools/ocaml/xenstored/select.cmx
tools/ocaml/xenstored/select.cmxa
tools/ocaml/xenstored/stdext.annot
tools/ocaml/xenstored/stdext.cmi
tools/ocaml/xenstored/stdext.cmx
tools/ocaml/xenstored/store.annot
tools/ocaml/xenstored/store.cmi
tools/ocaml/xenstored/store.cmx
tools/ocaml/xenstored/symbol.annot
tools/ocaml/xenstored/symbol.cmi
tools/ocaml/xenstored/symbol.cmx
tools/ocaml/xenstored/syslog.annot
tools/ocaml/xenstored/syslog.cma
tools/ocaml/xenstored/syslog.cmi
tools/ocaml/xenstored/syslog.cmo
tools/ocaml/xenstored/syslog.cmx
tools/ocaml/xenstored/syslog.cmxa
tools/ocaml/xenstored/systemd.annot
tools/ocaml/xenstored/systemd.cma
tools/ocaml/xenstored/systemd.cmi
tools/ocaml/xenstored/systemd.cmo
tools/ocaml/xenstored/systemd.cmx
tools/ocaml/xenstored/systemd.cmxa
tools/ocaml/xenstored/transaction.annot
tools/ocaml/xenstored/transaction.cmi
tools/ocaml/xenstored/transaction.cmx
tools/ocaml/xenstored/trie.annot
tools/ocaml/xenstored/trie.cmi
tools/ocaml/xenstored/trie.cmx
tools/ocaml/xenstored/utils.annot
tools/ocaml/xenstored/utils.cmi
tools/ocaml/xenstored/utils.cmx
tools/ocaml/xenstored/xenstored.annot
tools/ocaml/xenstored/xenstored.cmi
tools/ocaml/xenstored/xenstored.cmx
tools/pkg-config/
tools/pygrub/build/
tools/python/build/
tools/qemu-xen-build/
tools/qemu-xen-dir
tools/qemu-xen-dir-remote/
tools/qemu-xen-traditional-dir
tools/qemu-xen-traditional-dir-remote/
tools/xcutils/lsevtchn
tools/xcutils/readnotes
tools/xenmon/xenbaked
tools/xenmon/xentrace_setmask
tools/xenpaging/xenpaging
tools/xenpmd/xenpmd
tools/xenstat/libxenstat/src/_paths.h
tools/xenstat/libxenstat/xenstat.pc
tools/xenstat/xentop/xentop
tools/xenstore/xenstore
tools/xenstore/xenstore-chmod
tools/xenstore/xenstore-control
tools/xenstore/xenstore-exists
tools/xenstore/xenstore-list
tools/xenstore/xenstore-ls
tools/xenstore/xenstore-read
tools/xenstore/xenstore-rm
tools/xenstore/xenstore-watch
tools/xenstore/xenstore-write
tools/xenstore/xenstore.pc
tools/xenstore/xenstored
tools/xenstore/xs_tdb_dump
tools/xentrace/xenalyze
tools/xentrace/xenctx
tools/xentrace/xentrace
tools/xentrace/xentrace_setsize
tools/xl/_paths.h
tools/xl/xl
xen/.banner
xen/arch/x86/asm-offsets.s
xen/arch/x86/boot/cmdline.S
xen/arch/x86/boot/cmdline.lnk
xen/arch/x86/boot/mkelf32
xen/arch/x86/boot/reloc.S
xen/arch/x86/boot/reloc.lnk
xen/arch/x86/efi.lds
xen/arch/x86/efi/boot.c
xen/arch/x86/efi/check.efi
xen/arch/x86/efi/compat.c
xen/arch/x86/efi/efi.h
xen/arch/x86/efi/mkreloc
xen/arch/x86/efi/runtime.c
xen/arch/x86/xen.lds
xen/include/asm
xen/include/asm-x86/asm-offsets.h
xen/include/asm-x86/cpuid-autogen.h
xen/include/compat/
xen/include/config/
xen/include/generated/
xen/include/headers++.chk
xen/include/headers.chk
xen/include/headers99.chk
xen/include/xen/compile.h
xen/tools/symbols
xen/xen
xen/xen-syms
xen/xen-syms.map
xen/xen.efi
xen/xen.efi.map
xen/xen.gz
tools/firmware/xen-dir/shim.config
tools/libxl/libxlu_disk_l.c
tools/libxl/libxlu_disk_l.h


